body{

}
footer{
  background: #9D50BB;
  background: -webkit-linear-gradient(to left, #6E48AA, #9D50BB);
  background: linear-gradient(to left, #6E48AA, #9D50BB);
  color: white;
}
a.fa{
  color: white;
}
.carousel-item>img{
  width: 100%;
}
.navbar{
  z-index: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 0;
  border-bottom: 5px solid #9D50BB;

}
.nav-item{
  margin-left: 4px;
  margin-right: 4px;
  transform: translateY(16px);
  border: 2px solid #9D50BB;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.nav-item:hover{
  background-color:#9D50BB;
   border: 2px solid white;
   transform: translateY(0);
   transform: scale(1.2,1.2);
}
.nav-link:hover{
  color: white;
}
.nav-link{
  color: #9D50BB;
  font-family: 'Aclonica', cursive;
  font-weight: normal;
  font-size: 1em;
}
#intro{
  height: 100vh;
  background: #9D50BB;
  background: -webkit-linear-gradient(to left, #6E48AA, #9D50BB);
  background: linear-gradient(to left, #6E48AA, #9D50BB);
  overflow: hidden;
  /* delete later */
  /* position: absolute; */
}
h1{
  padding-top: 20px;
  font-family: 'Aclonica', cursive;
  letter-spacing: 2px;
  font-size: 3em;
  color: white;
}
h3{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #9D50BB;
  text-align: center;
}
h5{
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2em;
}

#skills-list{
  list-style-type: none;
  text-align: center;
  padding: 0;
}
#skills-list>li{
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  padding-top: 40px;
  margin: 10px;
  height: 120px;
  width: 120px;
  background-color: #9D50BB;
  color: white;
  border: 7px solid white;
  border-radius: 50%;
  border-style: double;
}

#contentBounce{
  height: 25vh;
  width: 25vh;
  max-height: 200px;
  max-width: 200px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
  border: 5px solid white;
  animation-name:bounceContent;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#imgBounce{
  height: 25vh;
  width: 25vh;
  max-height: 200px;
  max-width: 200px;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
  border: 5px solid white;
  animation-name:bounce;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes bounce {
  0% { left: 0vw; top: 0vh;}
  25%{ left:25vw;top:50vh;}
  50% { left:50vw;top:0vh;}
  100%{left:75vw;top:50vh}
}
@keyframes bounceContent {
  0% { left: 0vw; top: 0vh;}
  25%{ left:25vw;top:50vh;}
  50% { left:50vw;top:0vh;}
  100%{left:75vw;top:50vh}
}
/* For mobile */
@media only screen and (max-width:768px) {
  #intro{
    height: 100vh;
  }
  h1{
    /* visibility: hidden; */
  }
  @keyframes bounce {
    0% { left:10px; top:0vh;}
    25%{ left:10px;top:15vh;}
    50% { left:10px;top:30vh;}
    100%{left:10px;top:45vh;}
  }
  @keyframes bounceContent {

    0% { left:10px; top:0vh;width:100vw;background-color: white;}
    25%{ left:10px;top:15vh;width:100vw;background-color: white;}
    50% { left:10px;top:30vh;width:100vw;background-color: white;}
    100%{left:10px;top:45vh;width:100vw;background-color: white;}
  }
  .navbar{
    position: fixed;
    top:0;
    width: 100%;
  }
  .nav-item{
    border-radius:50%;
    height: 100px;
    width: 100px;

    align-self: flex-end;
    text-align: center;
    padding-top: 30px;
  }

}
